body {
width: 70%;
margin: auto;
}
h1, h2, h3 {
    font-family: "Verdana", sans-serif;
    margin: 1,5em 0 0.5em 0;;
  }
   h1 {
    font-size: 32px;
  }
   table,th,td {
    border: 1px solid black;
  }
  figure {
    float: right;
    margin: 10px 0px 10px 10px
  }
  figcaption {
    font-style: italic;
  }
  p {
    color: #222;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 28px;
  } 
